<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Edit account</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/asyncsearch.js}" type="text/javascript"></script>
    <script th:src="@{/js/edit.js}" type="text/javascript"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let birth = /*[[${birth}]]*/;
        let phonesArray = [];
        $(function () {
            $("#datepicker").datepicker({
                minDate: "-100Y",
                maxDate: "-1",
                changeMonth: true,
                changeYear: true
            });
            $("#datepicker").datepicker("option", "dateFormat", 'yy-mm-dd');
            $("#datepicker").datepicker("setDate", birth);
        });
        /*]]>*/
    </script>
</head>
<body style="background-color:#EEEEEE">
<ul class="header">
    <li>
        <a href="/">
            <img alt="LOGO" th:src="@{/images/logo.png}">
        </a>
    </li>
    <li style="float:right; margin-top: 3px;">
        <form action="/logout" method="post" name="logout">
            <button class="red-button" style="margin-left: 5px;" type="submit">Logout</button>
        </form>
    <li style="float:right; padding-top: 5px;">
        <form action="search" method="post">
            <input class="search" id="search" name="search" placeholder="Search.." type="text">
            <input name="page" type="hidden" value="1">
            <input class="red-button" style="position: absolute; right: 79px; height: 47px; opacity: 0;" type="submit"
                   value="111">
        </form>
    </li>

    </li>
</ul>
<div th:each="phone: ${phones}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var phone = {
            number: /*[[${phone.number}]]*/,
            type: /*[[${phone.type}]]*/
        }
        console.log(phone);
        phonesArray.push(phone);
        /*]]>*/
    </script>
</div>
<div class="flex-container">
    <ul class="sidebar" style="width:200px">
        <li><a href="myprofile">My profile</a></li>
        <li><a th:href="@{friends(accountId=${session.globalId})}">Friends</a></li>
        <li><a href="mymessages?offset=1">Messages</a></li>
        <li><a href="messenger">Dialogs(beta)</a></li>
        <li><a th:href="@{groups(accountId=${session.globalId})}">Groups</a></li>
    </ul>
    <div>
        <div class="white-box">
            <h2 style="text-align: center;">Update account</h2>
            <form action="uploadXml" enctype="multipart/form-data" method="post">
                <input accept="text/xml" name="file" onchange="this.form.submit()" type="file"/>
            </form>
            <form th:action="@{/edit}" th:method="POST" th:object="${account}">
                <label>Email*</label>
                <br>
                <input placeholder="Email" style="width:90%" th:field="*{email}" th:value="${account.email}"
                       type="email">
                <div style="color:red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Name Error</div>
                <br>
                <input th:field="*{id}" th:value="${session.globalId}" type="hidden">
                <label>Name*</label>
                <br>
                <input placeholder="Name" style="width:90%" th:field="*{name}" th:value="${account.name}" type="text">
                <div style="color:red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</div>
                <br>
                <label>Middlename</label>
                <br>
                <input placeholder="Middlename" style="width:90%" th:field="*{middleName}"
                       th:value="${account.middleName}" type="text">
                <br>
                <label>Surname*</label>
                <br>
                <input placeholder="Surname" style="width:90%" th:field="*{surname}" th:value="${account.surname}"
                       type="text">
                <div style="color:#ff0000" th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}">Name Error
                </div>
                <br>
                <label>Date of birth</label>
                <br>
                <input id="datepicker" name="birthString" style="width:90%" th:value="${birth}" type="text">
                <br>
                <label>instagram</label>
                <br>
                <input placeholder="instagram" style="width:90%" th:field="*{instagram}" th:value="${account.instagram}"
                       type="text">
                <br>
                <label>Additional Info</label>
                <br>
                <textarea class="message-area" id="message" th:field="*{additionalInfo}"
                          th:text="${account.additionalInfo}"></textarea>
                <br>
                <input name="imageUrl" th:value="${account.imageUrl}" type="hidden">
                <div th:each="phone,iterStat : ${account.phones}">
                    <input th:id="${'phone' + iterStat + 1}" th:name="${'phone' + iterStat + 1}"
                           th:value="${phone.number}"
                           type="hidden">
                    <input th:id="${'work' + iterStat + 1}" th:name="${'work' + iterStat + 1}" th:value="${phone.type}"
                           type="hidden">
                </div>
                <input id='count' th:value="${phonesSize}" type="hidden">
                <input id="newPhone" name="newPhone"
                       pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}"
                       placeholder="+7 (900) 123-45-67"
                       style="display: inline"
                       type="tel">
                <input id="work" name="work" type="checkbox">
                <label for="work">work</label>
                <button class="basic-link" id="add">add</button>
                <br>
                <input class="green-link" id="downloadlink" type="submit" value="Update">
            </form>
            <p style="color:red" th:text="${param.mes}"></p>
            <a class="basic-link" href="downloadxml">Download Profile XML</a>
            <h2 style="text-align: center;">Change password</h2>
            <form action="changePassword" method="POST">
                <label>Old password</label>
                <br>
                <input name="oldPassword" style="width:90%" type="password">
                <br>
                <label>New password</label>
                <br>
                <input name="newPassword" style="width:90%" type="password">
                <br>
                <input class="green-link" type="submit" value="Update">
            </form>
            <p style="color:red" th:text="${param.pasmes}"></p>
        </div>
    </div>
</div>

</body>
</html>
