<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/asyncsearch.js}" type="text/javascript"></script>
</head>
<body>
<ul class="header">
    <li>
        <a href="/">
            <img alt="LOGO" th:src="@{/images/logo.png}">
        </a>
    </li>
    <li style="float:right; margin-top: 3px;">
        <form action="/logout" method="post" name="logout">
            <button class="red-button" style="margin-left: 5px;" type="submit">Logout</button>
        </form>
    <li style="float:right; padding-top: 5px;">
        <form action="search" method="post">
            <input class="search" id="search" name="search" placeholder="Search.." type="text">
            <input name="page" type="hidden" value="1">
            <input class="red-button" style="position: absolute; right: 79px; height: 47px; opacity: 0;" type="submit"
                   value="111">
        </form>
    </li>

    </li>
</ul>
<div class="flex-container">
    <ul class="sidebar" style="width:200px">
        <li><a href="myprofile">My profile</a></li>
        <li><a th:href="@{friends(accountId=${session.globalId})}">Friends</a></li>
        <li><a href="mymessages?offset=1">Messages</a></li>
        <li><a href="messenger">Dialogs(beta)</a></li>
        <li><a th:href="@{groups(accountId=${session.globalId})}">Groups</a></li>
    </ul>
    <div>
        <div class="white-box">
            <h2 style="text-align: center;">Edit group</h2>
            <form action="editGroupPost" method="post">
                <input name="id" th:value="${id}" type="hidden">
                <label>Group name*</label>
                <br>
                <input name="name" style="width:90%" th:value="${name}" type="text">
                <br>
                <label>Description*</label>
                <br>
                <textarea class="message-area" name="description" th:text="${description}"></textarea>
                <br>
                <input name="owner" th:value="${session.globalId}" type="hidden">
                <input name="oldId" th:value="${id}" type="hidden">
                <br>
                <input class="green-link" style="margin-top: 10px;" type="submit" value="Save changes">
            </form>
            <p><span th:text="${mes}"></span></p>
        </div>
    </div>
</div>
</body>
</html>
