<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>ERROR</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>
<ul class="header">
    <li>
        <a href="/">
            <img alt="LOGO" th:src="@{/images/logo.png}">
        </a>
    </li>

</ul>
<div class="flex-container">

    <div style="width: 606px;">
        <h1>Something went wrong</h1>
        <h3 th:text="${message}"></h3>
    </div>
</div>
</body>
</html>
