<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Friends</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/asyncsearch.js}" type="text/javascript"></script>
</head>
<body>
<ul class="header">
    <li>
        <a href="/">
            <img alt="LOGO" th:src="@{/images/logo.png}">
        </a>
    </li>
    <li style="float:right; margin-top: 3px;">
        <form action="/logout" method="post" name="logout">
            <button class="red-button" style="margin-left: 5px;" type="submit">Logout</button>
        </form>
    <li style="float:right; padding-top: 5px;">
        <form action="search" method="post">
            <input class="search" id="search" name="search" placeholder="Search.." type="text">
            <input name="page" type="hidden" value="1">
            <input class="red-button" style="position: absolute; right: 79px; height: 47px; opacity: 0;" type="submit"
                   value="111">
        </form>
    </li>

    </li>
</ul>
<div class="flex-container">
    <ul class="sidebar" style="width:200px">
        <li><a href="myprofile">My profile</a></li>
        <li><a th:href="@{friends(accountId=${session.globalId})}">Friends</a></li>
        <li><a href="mymessages?offset=1">Messages</a></li>
        <li><a href="messenger">Dialogs(beta)</a></li>
        <li><a th:href="@{groups(accountId=${session.globalId})}">Groups</a></li>
    </ul>
    <div style="width: 606px;">
        <div class="white-box">
            <div th:each="account : ${requests}">
                <div class="flex-content">
                    <img class="round-img" th:src="${account.imageUrl}">
                    <div>
                        <a class="basic-link" th:href="@{profile(accountId=${account.id})}"> <span
                                th:text="${account.name}"></span> <span th:text="${account.surname}"></span></a>
                    </div>
                    <div style="margin-left: auto; padding: 15px 0">
                        <form action="/acceptRequest" method="post">
                            <input name="profileId" th:value="${account.id}" type="hidden">
                            <input name="origin" type="hidden" value="friends">
                            <input class="green-link" type="submit" value="Accept request">
                        </form>
                        <form action="/declineRequest" method="post">
                            <input name="profileId" th:value="${account.id}" type="hidden">
                            <input name="origin" type="hidden" value="friends">
                            <input class="green-link" style="background-color: #C1666B;" type="submit"
                                   value="Decline request">
                        </form>
                    </div>
                </div>
            </div>
            <div th:each="friend : ${friends}">
                <div class="flex-content">
                    <img class="round-img" th:src="${friend.imageUrl}">
                    <div>
                        <a class="basic-link" th:href="@{profile(accountId=${friend.id})}"> <span
                                th:text="${friend.name}"></span> <span th:text="${friend.surname}"></span></a>
                        <div th:each="phone : ${friend.phones}">
                            <p th:text="${phone}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
