<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/asyncsearch.js}" type="text/javascript"></script>
</head>
<body>
<ul class="header">
    <li>
        <a href="/">
            <img alt="LOGO" th:src="@{/images/logo.png}">
        </a>
    </li>
    <li style="float:right; margin-top: 3px;">
        <form action="/logout" method="post" name="logout">
            <button class="red-button" style="margin-left: 5px;" type="submit">Logout</button>
        </form>
    <li style="float:right; padding-top: 5px;">
        <form action="search" method="post">
            <input class="search" id="search" name="search" placeholder="Search.." type="text">
            <input name="page" type="hidden" value="1">
            <input class="red-button" style="position: absolute; right: 79px; height: 47px; opacity: 0;" type="submit"
                   value="111">
        </form>
    </li>

    </li>
</ul>
<div class="flex-container">
    <ul class="sidebar" style="width:200px">
        <li><a href="myprofile">My profile</a></li>
        <li><a th:href="@{friends(accountId=${session.globalId})}">Friends</a></li>
        <li><a href="mymessages?offset=1">Messages</a></li>
        <li><a href="messenger">Dialogs(beta)</a></li>
        <li><a th:href="@{groups(accountId=${session.globalId})}">Groups</a></li>
    </ul>
    <div>
        <div class="white-box">
            <th:block th:switch="${group.image}">
                <div th:case="${null}">
                    <img alt="avatar" class="avatar" th:src="@{/images/group_icon.png}">
                </div>
                <div th:case="*">
                    <img alt="avatar" class="avatar" th:src="${'data:image/jpg; base64,' + group.base64String}">
                </div>
            </th:block>
            <div th:if="${session.globalId == group.owner.id}">
                <form action="groupLogoUploadServlet" enctype="multipart/form-data" method="post">
                    <div class="overlay-layer">Upload photo</div>
                    <input name="groupId" th:value="${group.id}" type="hidden">
                    <input accept="image/*" class="upload_btn" name="file" onchange="this.form.submit()"
                           style="width: 270px;"
                           type="file"/>
                </form>
                <a class="green-link" th:href="@{editgroup(groupId=${group.id})}">Edit group</a>
            </div>
            <div th:if="${member == true}">
                <form action="leaveGroupServlet" method="post">
                    <input name="groupId" type="hidden" value="${requestScope.group.id}">
                    <input class="green-link" type="submit" value="Leave group">
                </form>
            </div>
            <div th:if="${member == false}">
                <form action="joinGroupServlet" method="post">
                    <input name="groupId" th:value="${group.id}" type="hidden">
                    <input class="green-link" type="submit" value="Join group">
                </form>
            </div>
        </div>
        <div class="white-box">
            <a class="basic-link" th:href="@{members(groupId=${group.id})}">Members: <span
                    th:text="${memberCount}"></span>
            </a>
            <div class="random-six">
                <div class="random-six" th:each="member : ${members}">
                    <div style="width: 90px">
                        <img class="small-round-img" th:src="${member.imageUrl}">
                        <a class="basic-link" th:href="@{profile(accountId=${member.id})}" th:text="${member.name}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 500px;">
        <div class="white-box">
            <h1 th:text="${group.name}">
            </h1>
            <p th:text=" ${group.desc}">
            </p>
        </div>
        <div class="white-box">
            <div class="flex-content">
                <div>
                    <form action="sendMessageServlet" enctype="multipart/form-data" method="post">
                        <label for="message">Message: </label>
                        <br>
                        <textarea class="message-area" id="message" name="text"></textarea>
                        <input name="groupId" th:value="${group.id}" type="hidden">
                        <input name="destination" type="hidden" value="group">
                        <input name="origin" th:value="@{group(groupId=${group.id})}" type="hidden">
                        <input accept="image/*" name="image" type="file">
                        <input class="green-link" style="float: right;" type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
        <div class="white-box" th:if="${messageCount > 0}">
            <div th:each="message : ${messages}">
                <div class="flex-content">
                    <img class="round-img" style="width: 100px;" th:src="${message.from.imageUrl}">
                    <div>
                        <a class="basic-link" th:href="@{profile(accountId=${message.from.id})}">
                            <span th:text="${message.from.name}"></span>
                            <span th:text="${message.from.surname}"></span>
                        </a>
                        <span style="color: #888888" th:text="${message.dateString}"> </span>
                        <p th:text="${message.text}"></p>
                        <div th:if="${message.imageUrl != null}">
                            <img style="width: 300px;" th:src="${message.imageUrl}">
                        </div>
                        <div th:if="${(session.globalId == group.owner.id) || (sessionScope.globalId eq message.from.id)}">
                            <form action="removeMessageServlet" method="post">
                                <input name="messageId" th:value="${message.id}" type="hidden">
                                <input name="origin" th:value="${'group?groupId=' + group.id}" type="hidden">
                                <input name="destination" type="hidden" value="group">
                                <input class="basic-link" type="submit" value="delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>