<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body style="background-color:#EEEEEE">

<ul class="header">
    <li>
        <a href="/">
            <img alt="LOGO" th:src="@{/images/logo.png}">
        </a>
    </li>
</ul>
<div class="flex-container">
    <div>
        <h2 style="text-align: center;">Sign in</h2>
        <form action="/securitycheck" method="post">
            <label>Email*</label>
            <br>
            <input name="email" placeholder="Email" style="width: 280px;" type="email" value="zayts95@gmail.com">
            <br>
            <label>Password*</label>
            <br>
            <input name="password" placeholder="Password" style="width: 280px; " type="password" value="adadad">
            <br>
            <input id="remember" name="remember" type="checkbox">
            <label for="remember"> Remember me</label>
            <br>
            <input class="green-link" type="submit" value="Log in">
            <a class="green-link" href="registration">Create new account</a>
        </form>
    </div>
</div>

</body>
</html>