<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messenger</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <!--    libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--    end libs for stomp and sockjs-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <link rel="stylesheet" th:href="@{/styles/chat.css}"/>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/asyncsearch.js}" type="text/javascript"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const globalId = /*[[${session.globalId}]]*/;
        var selectedUser = null;
        var empty = /*[[${empty}]]*/;
        if (!empty) {
            selectedUser = {
                accountId: /*[[${id}]]*/,
                name: /*[[${name}]]*/,
                surname: /*[[${surname}]]*/,
                avatar: /*[[${imageUrl}]]*/
            };
        }

        /*]]>*/
    </script>
</head>
<body style="background-color:#EEEEEE">
<ul class="header">
    <li>
        <a href="/">
            <img alt="LOGO" th:src="@{/images/logo.png}">
        </a>
    </li>
    <li style="float:right; margin-top: 3px;">
        <form action="/logout" method="post" name="logout">
            <button class="red-button" style="margin-left: 5px;" type="submit">Logout</button>
        </form>
    <li style="float:right; padding-top: 5px;">
        <form action="search" method="post">
            <input class="search" id="search" name="search" placeholder="Search.." type="text">
            <input name="page" type="hidden" value="1">
            <input class="red-button" style="position: absolute; right: 79px; height: 47px; opacity: 0;" type="submit"
                   value="111">
        </form>
    </li>

    </li>
</ul>
<div class="flex-container">
    <ul class="sidebar" style="width:200px">
        <li><a href="myprofile">My profile</a></li>
        <li><a th:href="@{friends(accountId=${session.globalId})}">Friends</a></li>
        <li><a href="mymessages?offset=1">Messages</a></li>
        <li><a href="messenger">Dialogs(beta)</a></li>
        <li><a th:href="@{groups(accountId=${session.globalId})}">Groups</a></li>
    </ul>
    <div class="people-list" id="people-list" style="background-color: #444; width: 300px; margin-right: 0px;">
        <ul class="list" id="usersList">
            <li class="clearfix">
                <div th:each="dialog : ${dialogs}">
                    <div class="flex-content" style="background-color: transparent; border: none"
                         th:attr="onclick=|selectUser('${dialog.id}', '${dialog.name}', '${dialog.surname}', '${dialog.imageUrl}')|">
                        <img alt="avatar" class="tiny-round-img"
                             th:src="${dialog.imageUrl}"/>
                        <div class="about">
                            <div class="name"><span th:text="${dialog.name}"></span> <span
                                    th:text="${dialog.surname}"></span></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="chat" style="width: 500px; margin-left: 0px; background-color: #F9F9F9;">
        <div class="chat-header clearfix">
            <img alt="avatar" class="round-img" id="avatar"
                 src=""/>

            <div class="chat-about">
                <a class="chat-with" href="" id="selectedUser"></a>
            </div>
            <i class="fa fa-star"></i>
        </div> <!-- end chat-header -->

        <div class="chat-history">
            <ul>

            </ul>

        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <textarea id="message-to-send" name="message-to-send" placeholder="Type your message" rows="3"></textarea>

            <i class="fa fa-file-image-o"></i>


            <button id="sendBtn">Send</button>

        </div> <!-- end chat-message -->

    </div> <!-- end chat -->
</div>

<script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time">{{time}}</span> &nbsp; &nbsp;
            <span class="message-data-name">You</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{messageOutput}}
        </div>
    </li>
</script>

<script id="message-template-image" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time">{{time}}</span> &nbsp; &nbsp;
            <span class="message-data-name">You</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            <img src="{{imageUrl}}" style="width: 100%; display: block;">
            {{messageOutput}}
        </div>
    </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> {{userName}}</span> <span
                class="message-data-time">{{time}}</span>
        </div>
        <div class="message my-message">
            {{response}}
        </div>
    </li>
</script>

<script id="message-response-template-image" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> {{userName}}</span>
            <span class="message-data-time">{{time}}</span>
        </div>
        <div class="message my-message">
            <img src="{{imageUrl}}" style="width: 100%; display: block;">
            {{response}}
        </div>
    </li>
</script>


<script th:src="@{/js/chat.js}" type="text/javascript"></script>
<script th:src="@{/js/websocket.js}" type="text/javascript"></script>
</body>
</html>
