<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>СЕТЬ</title>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <script th:src="@{/js/asyncsearch.js}" type="text/javascript"></script>
</head>
<body style="background-color:#EEEEEE">
<ul class="header">
    <li>
        <a href="/">
            <img alt="LOGO" th:src="@{/images/logo.png}">
        </a>
    </li>
    <li style="float:right; margin-top: 3px;">
        <form action="/logout" method="post" name="logout">
            <button class="red-button" style="margin-left: 5px;" type="submit">Logout</button>
        </form>
    <li style="float:right; padding-top: 5px;">
        <form action="search" method="post">
            <input class="search" id="search" name="search" placeholder="Search.." type="text">
            <input name="page" type="hidden" value="1">
            <input class="red-button" style="position: absolute; right: 79px; height: 47px; opacity: 0;" type="submit"
                   value="111">
        </form>
    </li>

    </li>
</ul>
<div class="flex-container">
    <ul class="sidebar" style="width:200px">
        <li><a href="myprofile">My profile</a></li>
        <li><a th:href="@{friends(accountId=${session.globalId})}">Friends</a></li>
        <li><a href="mymessages?offset=1">Messages</a></li>
        <li><a href="messenger">Dialogs(beta)</a></li>
        <li><a th:href="@{groups(accountId=${session.globalId})}">Groups</a></li>
    </ul>
    <div>
        <div class="white-box">
            <img alt="avatar" class="avatar" th:src="${account.imageUrl}">
            <a class="green-link" th:href="@{sendmessage(accountId=${account.id})}">Send message</a>
            <div th:switch="${relation}">
                <form action="/removeFriend"
                      method="post"
                      th:case="${T(com.getjavajob.training.zaytsevi.socialnetwork.models.enums.Relation).FRIEND}">
                    <input name="profileId" th:value="${account.id}" type="hidden">
                    <input class="green-link" type="submit" value="Remove friend">
                </form>
                <form action="/cancelRequest"
                      th:case="${T(com.getjavajob.training.zaytsevi.socialnetwork.models.enums.Relation).REQUEST_SENT}">
                    <input name="profileId" th:value="${account.id}" type="hidden">
                    <input class="green-link" type="submit" value="Cancel request">
                </form>
                <div th:case="${T(com.getjavajob.training.zaytsevi.socialnetwork.models.enums.Relation).REQUESTED}">
                    <form action="/acceptRequest" method="post">
                        <input name="profileId" th:value="${account.id}" type="hidden">
                        <input name="origin" type="hidden" value="profile">
                        <input class="green-link" type="submit" value="Accept request">
                    </form>
                    <form action="/declineRequest" method="post">
                        <input name="profileId" th:value="${account.id}" type="hidden">
                        <input name="origin" type="hidden" value="profile">
                        <input class="green-link" style="background-color: #C1666B;" type="submit"
                               value="Decline request">
                    </form>
                </div>
                <form action="/addFriend"
                      method="post"
                      th:case="${T(com.getjavajob.training.zaytsevi.socialnetwork.models.enums.Relation).NONE}">
                    <input name="profileId" th:value="${account.id}" type="hidden">
                    <input class="green-link" type="submit" value="Add friend">
                </form>
            </div>
        </div>
        <div class="white-box">
            <a class="basic-link"
               style="display: block" th:href="@{friends(accountId=${account.id})}">Friends: <span
                    th:text="${friendsCount}"></span>
            </a>
            <div class="random-six">
                <div class="random-six" th:each="friend : ${friends}">
                    <div style="width: 90px">
                        <img class="small-round-img" th:src="${friend.imageUrl}">
                        <a class="basic-link" th:href="@{profile(accountId=${friend.id})}" th:text="${friend.name}"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="white-box">
            <a class="basic-link" style="display: block" th:href="@{groups(accountId=${account.id})}">Groups: <span
                    th:text="${groupsCount}"></span>
            </a>
            <div th:each="group: ${groups}">
                <div class="flex-content" style="border: 0">
                    <th:block th:switch="${group.image}">
                        <div th:case="${null}">
                            <img class="tiny-round-img" th:src="@{/images/group_icon.png}">
                        </div>
                        <div th:case="*">
                            <img class="tiny-round-img" th:src="${'data:image/jpg; base64,' + group.base64String}">
                        </div>
                    </th:block>
                    <div>
                        <a class="basic-link" th:href="@{group(groupId=${group.id})}" th:text='${group.name}'>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 500px;">
        <div class="white-box">
            <h1>
                <span th:text="${account.name}"></span>
                <span th:text="${account.middleName}"></span>
                <span th:text="${account.surname}"></span>
            </h1>
            <th:block th:switch="${birth}">
                <p th:case="${''}">
                </p>
                <p th:case="*">
                    Birth Date: <span th:text="${birth}"/>
                </p>
            </th:block>
            <div th:each="phone : ${account.phones}">
                <p><span th:text="${phone}"/></p>
            </div>
            <th:block th:switch="${account.instagram}">
                <p th:case="${''}">
                </p>
                <p th:case="*">
                    Instagram: <a class="basic-link" th:href="${'https://www.instagram.com/' + account.instagram}"
                                  th:text="${account.instagram}"/>
                </p>
            </th:block>
            <th:block th:switch="${account.additionalInfo}">
                <p th:case="${''}">
                </p>
                <p th:case="*">
                    Info: <span th:text="${account.additionalInfo}"/>
                </p>
            </th:block>
        </div>
        <div class="white-box">
            <div class="flex-content">
                <div>
                    <form action="sendMessageServlet" enctype="multipart/form-data" method="post">
                        <label for="message">Message: </label>
                        <br>
                        <textarea class="message-area" id="message" name="text"></textarea>
                        <input name="accountId" th:value="${account.id}" type="hidden">
                        <input name="destination" type="hidden" value="profile">
                        <input name="origin" th:value="${'profile?accountId=' + account.id}" type="hidden">
                        <input accept="image/*" name="image" type="file">
                        <input class="green-link" style="float: right;" type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
        <div th:if="${messageCount} > 0">
            <div class="white-box">
                <div th:each="message : ${messages}">
                    <div class="flex-content">
                        <img class="round-img" style="width: 100px;" th:src="${message.from.imageUrl}">
                        <div>
                            <a class="basic-link" th:href="@{profile(accountId=${message.from.id})}">
                                <span th:text="${message.from.name}"></span>
                                <span th:text="${message.from.surname}"></span>
                            </a>
                            <span style="color: #888888" th:text="${message.dateString}"> </span>
                            <p th:text="${message.text}"></p>
                            <th:block th:switch="${message.imageUrl}">
                                <div th:case="${null}">
                                </div>
                                <div th:case="*">
                                    <img style="width: 300px;" th:src="${message.imageUrl}">
                                </div>
                            </th:block>
                            <div th:if="${message.from.id == session.globalId}">
                                <form action="removeMessageServlet" method="post">
                                    <input name="messageId" th:value="${message.id}" type="hidden">
                                    <input name="origin" th:value="${'profile?accountId=' + account.id}"
                                           type="hidden">
                                    <input name="destination" type="hidden" value="profile">
                                    <input class="basic-link" type="submit" value="delete">
                                </form>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>