<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Create account</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            $("#datepicker").datepicker({
                minDate: "-100Y",
                maxDate: "-1",
                changeMonth: true,
                changeYear: true
            });
            $("#datepicker").datepicker("option", "dateFormat", 'yy-mm-dd');
            $("#datepicker").datepicker("setDate", birth);
        });
        /*]]>*/
    </script>
</head>
<body style="background-color:#EEEEEE">

<ul class="header">
    <li>
        <a href="/">
            <img alt="LOGO" th:src="@{/images/logo.png}">
        </a>
    </li>
</ul>
<div class="flex-container">
    <div>
        <div class="white-box">
            <h2 style="text-align: center;">Create account</h2>
            <form th:action="@{/registration}" th:method="POST" th:object="${account}">

                <label>Email*</label>
                <br>
                <input placeholder="Email" style="width:90%" th:field="*{email}" type="email">
                <div style="color:red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Name Error</div>
                <br>
                <label>ID*</label>
                <br>
                <input placeholder="ID" style="width:90%" th:field="*{id}" type="text">
                <div style="color:red" th:errors="*{id}" th:if="${#fields.hasErrors('id')}">Name Error</div>
                <br>
                <label>Name*</label>
                <br>
                <input placeholder="Name" style="width:90%" th:field="*{name}" type="text">
                <div style="color:red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</div>
                <br>
                <label>Middlename</label>
                <br>
                <input placeholder="Middlename" style="width:90%" th:field="*{middleName}" type="text">
                <br>
                <label>Surname*</label>
                <br>
                <input placeholder="Surname" style="width:90%" th:field="*{surname}" type="text">
                <div style="color:#ff0000" th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}">Name Error
                </div>
                <br>
                <label>Password*</label>
                <br>
                <input placeholder="Password" style="width:90%" th:field="*{password}" type="password">
                <div style="color:red" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Name Error</div>
                <br>
                <label>Date of birth</label>
                <br>
                <input id="datepicker" name="birthString" style="width:90%" type="text">
                <br>
                <label>instagram</label>
                <br>
                <input placeholder="instagram" style="width:90%" th:field="*{instagram}" type="text">
                <br>
                <label>Additional Info</label>
                <br>
                <textarea class="message-area" th:field="*{additionalInfo}"></textarea>
                <br>
                <input class="green-link" style="margin-top: 10px" type="submit" value="Create Account">
            </form>
        </div>
    </div>
</div>

</body>
</html>
