<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sent</title>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <script th:src="@{/js/asyncsearch.js}" type="text/javascript"></script>
</head>
<body>
<ul class="header">
    <li>
        <a href="/">
            <img alt="LOGO" th:src="@{/images/logo.png}">
        </a>
    </li>
    <li style="float:right; margin-top: 3px;">
        <form action="/logout" method="post" name="logout">
            <button class="red-button" style="margin-left: 5px;" type="submit">Logout</button>
        </form>
    <li style="float:right; padding-top: 5px;">
        <form action="search" method="post">
            <input class="search" id="search" name="search" placeholder="Search.." type="text">
            <input name="page" type="hidden" value="1">
            <input class="red-button" style="position: absolute; right: 79px; height: 47px; opacity: 0;" type="submit"
                   value="111">
        </form>
    </li>

    </li>
</ul>
<div class="flex-container">
    <ul class="sidebar" style="width:200px">
        <li><a href="myprofile">My profile</a></li>
        <li><a th:href="@{friends(accountId=${session.globalId})}">Friends</a></li>
        <li><a href="mymessages?offset=1">Messages</a></li>
        <li><a href="messenger">Dialogs(beta)</a></li>
        <li><a th:href="@{groups(accountId=${session.globalId})}">Groups</a></li>
    </ul>
    <div style="width: 606px;">
        <div class="random-six">
            <a class="color-change-link" href="mymessages?offset=1" style="margin-right: 5px">Inbox</a>
            <a class="green-link" href="sentmessages?offset=1">Sent</a>
        </div>
        <div class="white-box">
            <div th:each="message : ${messages}">
                <a class="basic-link" th:href="@{message(id=${message.id})}">
                    <div class="flex-content">
                        <img class="round-img" th:src="${message.to.imageUrl}">
                        <div>
                            <a class="basic-link" th:href="@{message(id=${message.id})}">
                                <span th:text="${message.from.name}"></span> <span
                                    th:text="${message.from.surname}"></span>
                            </a>
                            <span style="color: #888888" th:text="${message.dateString}"> </span>
                            <p th:text="${message.text}"></p>
                        </div>
                        <div style="margin-left: auto;" th:if="${message.imageUrl != null}">
                            <img class="square-img" th:src="${message.imageUrl}">
                        </div>
                    </div>
                </a>
            </div>
            <div class="random-six">
                <div th:if="${offset != 1}">
                    <a class="basic-link" style="margin: 5px;"
                       th:href="@{sentmessages(offset=${offset - 1})}">previous </a>
                </div>
                <pam style="margin: 5px;">
                    <span th:text="${begin}"></span> - <span th:text="${end}"></span> of <span
                        th:text="${count}"></span>
                </pam>
                <div th:if="${offset * 10 < count}">
                    <a class="basic-link" style="margin: 5px;" th:href="@{sentmessages(offset=${offset + 1})}">
                        next </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
